<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>COMP3204 Computer Vision by jonhare</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/jonhare/COMP3204">View On GitHub</a></li>
          <li class="downloads"><a href="http://jenkins.ecs.soton.ac.uk/job/COMP3204/lastSuccessfulBuild/artifact/app/target/COMP3204-1.0-SNAPSHOT-jar-with-dependencies.jar">EXECUTABLE JAR</a></li>
          <li class="downloads"><a href="https://github.com/jonhare/COMP3204/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/jonhare/COMP3204/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <div style="background-image: url(images/johnny5.png); height: 329px; position: relative">
            <div style="position: absolute; bottom: 0; width: 650px; opacity:0.6; filter:alpha(opacity=60); background-color: #000000; padding-top:20px">
              <h1>COMP3204/COMP6223 Computer Vision</h1>
              <p>Notes, Slides and Demos for COMP3204/COMP6223 Part II 2014-15</p>
            </div>
          </div>
          <hr>
          <span class="credits left">Maintained and taught by <a href="http://www.ecs.soton.ac.uk/people/jsh2">Dr Jonathon Hare</a> (<a href="https://github.com/jonhare">jonhare</a>)</span>
        </div>

        <div style="text-align: justify">
         {{content}}
        </div>
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
